<div class="row">
  <div class="col-xs-3">
    {{input type='text' class="form-control" value=newTodo}}
  </div>
  <button type='button' {{action 'createTodo'}} class='btn btn-default'>
    Create Todo
  </button>
  {{#if hasCompleted}}
    <button {{action 'clearCompleted'}} class='btn btn-default'>
      Clear Conmpleted
    </button>
  {{/if}}
</div>
